[flake8]
# count = True
# statistics = True
show_source = True
docstring-convention = google
exclude = .svn, CVS, .bzr, .hg, .git, __pycache__, .tox, venv, .venv, .eggs, build
ignore = E203, E266, E501, W503, F403, F401, F405
max-line-length = 79
max-complexity = 26
select = B, C, E, F, W, T4, B9
per-file-ignores =
    # Do not check docstrings for the tests or docs directories
    tests/*: D
    docs/*: D
